<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head.ejs %>

    <title>Resources</title>

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header.ejs %>

    <main class'container'>

      <article class='jumbotron'>
        <h1 class="text-left">Welcome to <span class="text-info">Resource Wall</span>!<br/>
          <small class="text-muted">&nbsp;Your home for learning.</small>
        </h1>
        <ul>
          <li><strong>Save any resource you find online that you'd like to learn</strong>&mdash;from tutorials, to blogs, to videos, and everything in between.</li>
          <li><strong>Never forget what you're interested in</strong> by saving to your own page.</li>
          <li><strong>Find what others are currently learning</strong> by searching through our extensive resource database.</li>
        </ul>
      </article>

      <article>
        <h1>Latest resources</h1>
        <div id='resources' class='container flex-container justify-content-around'>
          <div class="row flex-row">
          </div>
          <div class="row">

            <div class="col-lg-4 col-md-6 card p-0 mb-3">
              <h3 class="card-header"><%=resourceOne.title%></h3>
              <div class="card-body">
                <h5 class="card-title"><%=resourceOne.title%></h5>
                <h6 class="card-subtitle text-muted">Submitted by <%=resourceOne.username %></username></h6>
              </div>
              <div>
                <a class='d-block text-center' href='http://${urls}'><img src='http://fillmurray.com/200/200'></a>
              </div>
              <div class="card-body">
                <p class="card-text">Description: <%=resourceOne.description%></p>
              </div>
              <div class="card-body">
                <h5 class="card-title">Comments:<%=resourceOne.content%></h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">resource.comment</li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Ratings:<%=resourceOne.value%></h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> <%=resourceOne.value%> </ratings></li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Likes:<%=resourceOne.like%></h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> <%=resourceOne.like%> </li>
                </ul>
              </div>

              <div class="card-footer text-muted">
                Added 2 days ago
              </div>
          </div>
          </div>
          <div class="container d-lg-flex justify-content-around" id="resources-container">
            <div class="row flex-row p-1" id="resources-row">
              <!-- CHANGE TO A LOOP FOR THE LATEST 3 -->
              <div class='content col-4 text-center'>
                <div class='rounded m-1'>
                  <form method="POST" action="/rating">
                    <input id='rating' class='rating' data-size='xs'type="text">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-4 mt-6">
          <h2 class="text-success"> Register Now! </h2>
          <form action="/registration" method="GET" title="Click here to register" class="d-inline form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Click HERE to register</button>
          </form>
          <br>
          <small class="mt-1">Already registered? <a href="/login">Log in here.</a></small>
        </div>
      </article>
    </main>
    <% include partials/_foot.ejs %>
  </body>
</html>
